NEXT_PUBLIC_APPNAME='SIVEL 3'
NEXT_PUBLIC_WC_PROJECT_ID='96b178c4484c0b55339aee97c8659881'
NEXT_PUBLIC_API1=https://sivel.xyz:3500/sivelxyz-admin

NEXT_PUBLIC_RPC_URL="https://lb.drpc.org/celo-sepolia/x"

# Qwen3
PRIVATE_KEY="0x..."
NEXT_PUBLIC_ADDRESS="0x..."

#OPDEV="--experimental-https --experimental-https-key ../../.cert/llave.pem --experimental-https-cert ../../.cert/cert.pem --experimental-https-ca /etc/ssl/cert.pem"
OPDEV=""

NEXT_PUBLIC_NETWORK=celoSepolia
NEXT_PUBLIC_AUTH_URL=https://sivel.xyz:9001

NEXTAUTH_SECRET=7c469392190d786d6fc8aab199ef765868530e26b1c6eccad5fe41d47e43c4bd # Mac/Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

NEXT_PUBLIC_USDT_CONTRACT_ADDRESS=0x7d7a73c8c0D00Fdf8b54b1a6dB6eBDEcdBa78aE8

# Use same configuration of RoR backend
PGHOST=/var/www/var/run/postgresql/
PGDATABASE=sivel22_des
PGUSER=sivelxyz
PGPASSWORD=clave
DATABASE_URL=postgres://$PGUSER:$PGPASSWORD@localhost/$PGDATABASE

NEXT_PUBLIC_EXPLORER_TX=https://celo-sepolia.blockscout.com/tx/

PORT=3029
