PRIVATE_KEY="0x1...of.the.wallet.."
PUBLIC_ADDRESS="0x..."
CELOSCAN_API_KEY="..."
BLOCKSCOUT_API_KEY="..."

# Blockchain celoSepoloia or celo
NETWORK="celoSepolia" 
MOCK_USDT_ADDRESS="0x7d7a73c8c0D00Fdf8b54b1a6dB6eBDEcdBa78aE8" # Ours
USDT_ADDRESS="0x7d7a73c8c0D00Fdf8b54b1a6dB6eBDEcdBa78aE8"
#USDT_ADDRESS="0xd077A400968890Eacc75cdc901F0356c943e4fDb" # In celo Sepolia but how to use it?
USDT_DECIMALS=6

DEPLOYED_AT="0xbF0c760De1569D4eFE5627B8509989D52B3C303D"

RPC_URL=https://lb.drpc.org/celo-sepolia/...




